*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    .hero {
     width: 100%;
     height: 100vh;
     background-image: url(https://www.goodcore.co.uk/blog/wp-content/uploads/2019/08/coding-vs-programming-2.jpg);
     background-size: cover;
     
    background-position: center;
     position: relative;    
     overflow: hidden;
    }
    .logo {
     width: 100px;
     cursor: pointer;
    }
    .navbar{
     width:85%;
     height: 15%;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
    }
    button{
     color: rgb(255, 255, 255);
     padding: 5px 10px;
     background: transparent;
     border: 1px solid rgb(250, 8, 8);
     border-radius: 10px;
     outline:rgb(15, 122, 122);
     cursor: pointer;
    
    }
    .content{
     color: #fdfeff;
     position: absolute;
     top: 50%;
     left: 5%;
     transform: translateY(-50%);
     z-index: 2;
    }
    h1{
     font-family: Bell MT;
     font-size: 80px;
     margin: 10px 0 30px;
     line-height: 80px;
    }
    .side-bar{
     width: 50px;
     height: 100vh;
     background: linear-gradient(#9c9c9c, #589bda);
     position: absolute;
     right: 0;
     top: 0;
    }
    .social-links, img{
     width: 45px;
     margin: 5px auto;
     cursor: pointer;
    
    }
    .social-links{
     width: 50px;
     text-align: center;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
    }
