table, th, td{
	border: 3px solid black;
	text-align: center;
	vertical-align: bottom;
	text-decoration: none;
}

td{
	height: 40px;
}

h2{
	font-size: 18px;
	font-weight: bold;
	color:brown;
}