.external{
    background-color: rgb(209, 60, 33);
    color: rgb(247, 244, 244);
    border-radius: 2%;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 14px 20px;
    font-size: 110%;
    text-align:justify;
    border-radius: 26px;
    box-shadow:10px 10px 30px rgb(255, 255, 254) ;
}
